<div class="dashboard-container">
    <div class="sidebar">
        <div class="sidebar-title">Event Category</div>
        <ul>
            <li><button (click)="onEvent1Click()">Event A</button></li>
            <li><button (click)="onEvent2Click()">Event B</button></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="tabs">
            <button class="tab-button" (click)="selectedTab = 'event-listing'"
                [class.active]="selectedTab === 'event-listing'">Event Listing</button>
            <button class="tab-button" (click)="selectedTab = 'user-event'"
                [class.active]="selectedTab === 'user-event'">User Event</button>
        </div>
        <div class="tab-content">
            <div *ngIf="selectedTab === 'event-listing'">
                <!-- Content for Event Listing tab -->
                <!-- <app-event-listing></app-event-listing> -->
                 Event Listing Card Layout based on the category
            </div>
            <div *ngIf="selectedTab === 'user-event'">
                <!-- Content for User Event tab -->
                <!-- <app-user-event></app-user-event> -->
                User Events card Layout 
            </div>
        </div>
    </div>
</div>